---
import Navbar from "./landing/Navbar";
import coding_home from "../../public/img/coding_home.jpg";
---

<header class="w-full flex flex-col sm:gap-7">
    <Navbar client:load/>

    <div class="p-6 flex flex-col gap-5 sm:flex-row">
        <div class="sm:flex-1">
            <img class="w-full h-full rounded-md shadow-lg" src={coding_home.src} alt="coding">
        </div>
        
        <div class="p-4 sm:flex-1 flex flex-col border sm:justify-center sm:items-center">
            <h1 class="text-white font-bold tracking-wide text-2xl text-center">Titulo</h1>
            <p class="text-white text-justify font-medium">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum enim distinctio perspiciatis, ducimus nihil tempore illo veritatis, reprehenderit culpa eligendi esse, quisquam nostrum exercitationem architecto quae iure quidem odit aut?</p>
        </div>
    </div>

    <div class="text-center sm:text-right sm:pr-16">
        <button class="text-white bg-sky-800 p-4 rounded-md hover:bg-sky-500 font-medium animate-bounce">Descargar CV</button>
    </div>
</header>