---
import Navbar from "./landing/Navbar";
import coding_home from "/public/img/coding_home.jpg";
import saludoIcon from "/public/img/icons/saludo.png";
---

<header class="w-full flex flex-col sm:gap-7 header">
    <Navbar client:load/>

    <div class="p-6 flex flex-col gap-5 sm:flex-row">
        <div class="sm:flex-1">
            <img class="w-full h-full rounded-md shadow-lg" src={coding_home.src} alt="coding">
        </div>
        
        <div class="p-4 sm:flex-1 flex gap-3 flex-col sm:justify-center sm:items-center">
            <div class="flex justify-center gap-2 items-center">
                <h1 class="text-sky-500 font-bold tracking-wide sm:text-2xl text-center">¡Hola, Soy Alejandro Coreño!</h1>
                <img class="w-9 p-1" src={saludoIcon.src} title="saludo" alt="saludo">
            </div>
            <p class="text-white text-justify">Desarrollador web, estoy enfocado principalmente en <span class="font-bold">Frontend</span>, también tengo experiencia en <span class="font-bold">Backend</span> lo cual me ha permitido desarrollar proyectos laborales y personales.<p>
            <p class="text-white text-justify">¡Te invito a conocer mi portafolio, para que puedas conocer un poco de  mi trabajo!</p>     
        </div>
    </div>

    <div class="text-center sm:text-right sm:pr-16">
        <a href="/Alejandro_CV.pdf" download="Alejandro_CV.pdf">
            <button class="text-white bg-sky-800 p-4 rounded-md hover:bg-sky-500 font-medium animate-bounce">Descargar CV</button>
        </a>
    </div>
</header>

