---
import { proyectos } from "../data/proyectos";
import Titulo from "./landing/Titulo.astro";

---

<section id="Proyectos" class="border bg-[#0d161ce5] p-4 flex flex-col gap-5">

    <Titulo>Proyectos</Titulo>
    
    <div class="grid grid-cols-1 gap-6">
        {
            proyectos.map((proyecto) => (
                <div class="h-60 shadow-lg border border-blue-400 rounded-md text-white">
                    <h2>{proyecto.title}</h2>
                    <p>{proyecto.description}</p>
                    <span>{proyecto.id}</span>
                </div>
            ))
        }
    </div>
</section>