---

---

<section id="proyectos" class="border bg-[#0d161ca2] p-4 flex flex-col gap-5">

    <h2 class="text-white font-bold tracking-wide text-3xl text-center">Proyectos</h2>
    
    <div class="grid grid-cols-1 gap-6">
        <div class="h-60 shadow-lg border border-blue-400 rounded-md text-white">
            1
        </div>
        
        <div class="h-60 shadow-lg border border-blue-400 rounded-md text-white">
            2
        </div>
        
        <div class="h-60 shadow-lg border border-blue-400 rounded-md text-white">
            3
        </div>
        
        <div class="h-60 shadow-lg border border-blue-400 rounded-md text-white">
            4
        </div>
    </div>
    


</section>