---
import Titulo from "./landing/Titulo.astro"
import imagePrincipal from "/public/img/alejandro_image.png";
---

<section id="Acerca de Mi" class="p-4 flex flex-col gap-11 sm:gap-0">
    <Titulo indent="indent-52" texto="text-left">Acerca de Mi</Titulo>

    <div class="flex flex-col gap-11 sm:flex-row-reverse sm:p-6 sm:gap-0">
        <div class="flex justify-center sm:flex-1 -mt-3">
            <img class="w-64 rounded-3xl filter drop-shadow-[2px_2px_5px_white]" src={imagePrincipal.src} alt="alejandro">
        </div>
    
        <div class="px-2 flex flex-col gap-3 sm:flex-1 sm:justify-center sm:items-center">
            <p class="text-white text-center font-medium sm:font-thin">Soy Ingeniero en Sistemas Computacionales con más de año y medio de experiencia en el desarrollo de software. He trabajado en diversos proyectos que me han permitido adquirir habilidades técnicas y mejorar mis capacidades en la resolución de problemas.</p>

            <p class="text-white text-center font-medium sm:font-thin">Me apasiona la tecnología y disfruto del aprendizaje autodidacta, lo que me impulsa a mantenerme actualizado con las últimas tendencias y herramientas en programación.</p>

            <p class="text-white text-center font-medium sm:font-thin">Mi objetivo es crear soluciones innovadoras y eficientes que contribuyan al crecimiento y éxito de los proyectos en los que participo.</p>
        </div>
    </div>

</section>