---

---


<section id="sobreMi" class="border p-4 flex flex-col gap-5">
    <h2 class="text-white font-bold tracking-wide text-3xl text-center">Sobre Mi</h2>

    <div class="h-60 border border-blue-500 rounded">
        <img src="" alt="">
    </div>

    <div class="p-4">
        <p class="text-white font-medium text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem fuga amet veritatis explicabo tempore quis eos, delectus consequatur voluptates officia ea, quos cupiditate neque deserunt repellendus. Labore dolores libero incidunt.</p>
    </div>
</section>