---
import Titulo from "./landing/Titulo.astro";


---

<section id="Tecnologias" class="p-4 flex flex-col gap-5 border">
    <Titulo>Tecnologias</Titulo>

    <div class="h-60 border-gray-300 border">

    </div>

    <div class="h-60 border-gray-300 border">

    </div>

</section>